@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;400;600;700;800;900&display=swap');
html, html {
  /* height: 100%; */
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  background-repeat: no-repeat;
  /* background: rgb(76, 140, 47);
  background: linear-gradient(0deg, rgba(76, 140, 47, 1) 21%, rgba(255, 255, 102, 1) 76%); */
  scrollbar-color: rebeccapurple white;
  scrollbar-width: none;
}

html::-webkit-scrollbar {
  width: 0px; /* For Chrome, Safari, and Opera */
}

a, p, h2, h3, h1, span, button, label, input, textarea {
  font-family: Poppins;
}


body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen, Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif, Poppins;
  line-height: 1.6;
  font-size: 18px;
  background: #0054b6;
}

* {
  box-sizing: border-box;
}

@media screen and (max-width: 1200px){
  html {
    font-size: 60%
  }
}



/* animate turbines */

/* #spinme1 {
  animation: midTurbine 5s linear infinite;
  transform-origin: center;
  transform-box: fill-box;
}

#spinme2 {
  animation: midTurbine 5.2s linear infinite;
  transform-origin: center;
  transform-box: fill-box;
}

#spinme3 {
  animation: midTurbine 5.3s linear infinite;
  transform-origin: center;
  transform-box: fill-box;
}

@keyframes midTurbine {
  from {
    transform: rotateZ(0);
  }
  to{
    transform: rotateZ(360deg);
  }
} */

/* end of turbines */