
.homeWrapper {
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
}

/* backgrounds from www.svgbackgrounds.com */


.mainBackground {
  background: url(/images/liquid_blue.svg);
  background-size: cover;
  opacity: 0.25;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  position: absolute;
  z-index: -1;
  content: '';
}

.innerHomeTop {
  flex: 2;
  display: flex;
}


.innerHomeTopLeft {
  flex: 1;
  display: flex;
  flex-direction: column;
}

.innerHomeTopRight {
  flex: 1;
}

.innerHomeTopRight object {
  opacity: 1;
  width: 40rem;
  position: absolute;
}

.innerHomeTopRight p {
  font-size: 2rem;
  color: white;
  position: relative;
  z-index: 2;
  right: 12rem;
  text-align: center;
  width: 150%;
  top: 2.5rem;
}

.innerHomeBottom {
  flex: 1;
}

.innerHomeBottom img {
  position: absolute;
  width: 100%;
}

.innerHomeBottom svg {
  position: absolute;
  /* height: 80%; */
  bottom: 0;
  opacity: 0.25;
}

.solarShapeBG {
  width: 25rem;
  height: 25rem;
  background-color: rgba(0, 45, 133, 0.5);
  /* border: 5px solid rgba(255, 255, 255, 0.8); */
  overflow: visible;
  position: absolute;
  top: 3rem;
  left: 3rem;
}

.solarShape {
  width: 25rem;
  height: 25rem;
  background-color: #002d85;
  /* border: 5px solid rgba(255, 255, 255, 0.8); */
  overflow: visible;
  /* box-shadow: 50px 50px rgba(0, 0, 255, 0.1); */
  transform-style: preserve-3d;
  transition: transform 3s;
}

.solarShape h1 {
  text-shadow: 2px 2px #333;
  overflow: visible;
  position: relative;
  left: -6.5rem;
  width: 200%;
  color: white;
  top: 2.5rem;
  font-weight: 800;
}

.innerHomeTopRightContent {
  transform-style: preserve-3d;
  display: flex;
  justify-content: flex-end;
  align-items: flex-start;
  position: relative;
  top: 6rem;
  right: 9rem;
}

.solarHeadingPop {
  position: relative;
  transform: translateZ(6rem);
}

.solarHeadingPop h1 {
  overflow: visible;
  position: relative;
  left: -6.5rem;
  width: 200%;
  color: white;
  top: 2.5rem;
  font-weight: 800;
  user-select: none;
}

.solarInfoPop {
  position: relative;
  transform: translateZ(3rem);
}

.solarInfoPop p {
  font-size: 2rem;
  color: white;
  position: relative;
  z-index: 2;
  right: 12rem;
  text-align: center;
  width: 150%;
  top: 2.5rem;
  user-select: none;
  text-shadow: 2px 2px #333;
}

.solarInfoTel {
  position: relative;
  transform: translateZ(3rem);
}

.solarInfoTel p {
  font-size: 2rem;
  color: #69cd3c;
  position: relative;
  z-index: 2;
  right: 0rem;
  text-align: center;
  width: 150%;
  top: 2rem;
  user-select: none;
  font-weight: 900;
  text-shadow: 2px 2px #333;
}

.bannerFix {
  height: 2.5rem;
  width: 100%;
  background-color: red;
}

.banner {
  height: 2.5rem;
  width: 100%;
  background-color: #69cd3c;
  position: absolute;
  top: 0;
  z-index: 336;
  /* border-top: 1px solid black; */
  border-bottom: 1px solid black;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.5rem;
  font-weight: 600;
  color: rgb(9, 15, 15);
  user-select: none;
}

.banner span {
  font-size: 1.7rem;
  font-weight: 700;
  color: black;
  user-select: none;
}

.modalBackground {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  display: grid;
  justify-content: center;
  align-items: center;
  z-index: 337;
  cursor: zoom-out;
}

.modal {
  width: 70%;
  height: 70%;
  border-radius: 20px;
  background-color: #69cd3c;
  position: absolute;
  z-index: 338;
  text-align: center;
  cursor: default;
  justify-self: center;
}

.modal h2 {
  display: inline-block;
  font-size: 2.5rem;
  user-select: none;
}