.siteWrapper {
  /* display: flex; */
  justify-content: center;
  height: 100vh;
  width: 100%;
  background: transparent;
  padding: 0;
  margin: 0;
  position: absolute;
  z-index: 1;
  top: 0;
  left: 0;
}

.siteWrapper2 {
  display: flex;
  justify-content: center;
  height: 100vh;
  width: 100%;
  background: #fff;
  padding: 0;
  margin: 0;
}

.turbineWrapper {
  width: 70%;
  position: absolute;
  bottom: 0;
  left: 4rem;
  /* height: 100%; */
}

.waveSquareWrapper {
  /* height: 30%; */
  width: 100vh;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  transform: rotateZ(-90deg);
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
  z-index: -2;
  opacity: 0.1;
  overflow: hidden;
}

.waveSquareWrapper object {
  height: 30rem;
  width: 150%;
}

.waveSquareWrapperLeft {
  /* height: 30%; */
  width: 100vh;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  transform: rotateZ(90deg);
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
  z-index: -2;
  opacity: 0.1;
  overflow: hidden;
}

.waveSquareWrapperLeft object {
  height: 30rem;
  width: 150%;
}

.lowerMain {
  width: 100%;
  height: 100%;
  background-color: transparent;
  /* position: absolute;
  bottom: -60rem; */
}

.sideMenuWrapper {
  display: flex;
  justify-content: flex-start;
  flex-direction: column;
  width: 20%;
  height: 100vh;
  position: fixed;
  z-index: 333;
}

.navClick {
  cursor: pointer;
}

.sideMenuEffect {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  overflow-x: visible;
  padding: 6rem 0 6rem 3rem;
  width: 1vw;
  position: fixed;
  z-index: 335;
}

.sideMenuEffect svg {
  position: fixed;
  top: 6.3rem;
  height: 22rem;
}

.sideMenuItems {
  height: 100vh;
  display: flex;
  flex-direction: column;
  overflow-x: visible;
  padding: 4.5rem 0 6rem 6rem;
  width: 20vw;
  position: fixed;
  z-index: 334;
  margin-top: 2.5rem;
}

.sideMenuItems a {
  text-align: left;
  font-size: 3.5rem;
  color: white;
  font-weight: 900;
  cursor: pointer;
  text-decoration: none;
  width: max-content;
  user-select: none;
}

@media screen and (max-width: 768px) {
  .sideMenuItems {
    display: none;
  }
  .mobileMenu {}
}

.sideMenuItemWrapper {
  display: flex;
  align-items: center;
}

.menuEffect {
  position: absolute;
  margin-top: 0.5rem;
  z-index: 333;
  width: 1rem;
  height: 5rem;
  background-color: transparent;
}

.menuEffectInner {
  text-align: center;
  position: relative;
  width: 100%;
  height: 100%;
  transition: transform 2s;
  transform-style: preserve-3d;
}

.menuEffectFront, .menuEffectBack {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  backface-visibility: hidden;
  transform-style: preserve-3d;
}

.menuEffectFront {
  width: 100%;
  height: 100%;
  background: transparent;
  /* transform: rotateY(.5turn); */
  transform: translateZ(10px);
  /* box-shadow: 5px 10px #888888; */
}

.menuEffectBack {
  /* transform: rotateY(.5turn);   */
  background: transparent;
}

.menuSquares {
  height: 1rem;
  width: 1rem;
  border: whitesmoke solid 1px;
  background: rgba(0, 0, 255, 0.5);
}

.menuWrapper {
  position: absolute;
  display: flex;
  justify-content: center;
  z-index: 399;
  width: 100%;
  height: 3.9rem;
  background-color: rgba(0, 0, 0, 0.39);
}

.menuItems {
  /* position: absolute; */
  /* top: 1.3rem; */
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  /* width: 100%; */
  white-space: nowrap;
  flex: 2;
}

.menuItems a {
  color: white;
  font-weight: bold;
  font-size: 1.9rem;
}

.ecoImage {
  /* position: absolute; */
  /* top: 0; */
  /* left: 60px; */
  /* z-index: 39; */
  font-weight: bold;
  font-size: 2rem;
  /* height: 10vh; */
  display: flex;
  justify-content: center;
  align-items: center;
  flex: 1;
  white-space: nowrap;
}

.contactModalPlaceholder {
  width: 10%;
  height: 10%;
  background-color: white;
  position: absolute;
  z-index: 1337;
}

.emailText {
  font-size: 2rem;
  letter-spacing: 5px;
  font-weight: bold;
  display: inline-block;
}

.contactbg {
  display: flex;
  /* background-image: url(../public/images/undraw_contact_us_15o2.svg); */
  background: transparent;
  width: 100%;
  height: 100vh;
  justify-content: flex-end;
}

.contactbg object {
  width: 75%;
}

.contactbg svg {
  width: 75%;
}

@media screen and (max-width: 768px) {
  .contactbg object {
    width: 100%;
  }
  .contactbg svg {
    width: 100%;
  }
}

.contactInnerLeft {
  flex: 1;
}

.contactInnerRight {
  flex: 3;
}

.contactInnerRight object {
  width: 100%;
  height: 100%;
}

@namespace svg url(http://www.w3.org/2000/svg);
/* Necessary to select only SVG <a> elements, and not also HTML’s.
   See warning below */

.contactInnerRight svg a:link, .contactInnerRight svg a:visited {
  cursor: pointer;
}

.contactInnerRight svg a text, .contactInnerRight text svg a {
  fill: yellow;
  /* Even for text, SVG uses fill over color */
  text-decoration: underline;
  cursor: pointer;
}

.phone {
  display: flex;
  justify-content: center;
  align-items: center;
  flex: 1;
  white-space: nowrap;
}

.phone p {
  font-weight: 600;
  color: white;
  font-size: 1.3rem;
}

.borderCircle {
  border-radius: 90px;
}

.colorInherit {
  color: inherit;
}

.padding1px {
  padding-top: 1px;
}

.sticky {
  position: fixed;
  z-index: 100;
  /* margin-top: -32px; */
  top: 50%;
}

.allWrapper {
  height: 100vh;
  width: 100%;
}

.sunBG {
  /* position: fixed;
	top: 0;
	left: 0; */
  width: 100%;
  height: 100vh;
  overflow: hidden;
  opacity: 0.89;
  /* filter: blur(10px); */
  transform-style: preserve-3d;
}

.theSun {
  /* position: absolute;
	top: -30%;
	left: 20%; */
  height: 100%;
  width: 100%;
  opacity: 1;
}

.theSun img {
  position: absolute;
  top: -20%;
  right: 10%;
  height: 100%;
  transform: translateZ(30px);
}

.sunRays {
  /* position: absolute;
	top: -160%; */
  height: 100%;
  width: 100%;
}

.sunRays svg {
  position: relative;
  top: -220%;
  left: -185%;
  height: 500%;
  width: 500%;
  transform: translateZ(20px);
  overflow: visible;
}

@media screen and (max-width: 768px) {
  .sunRays svg {
    position: relative;
    top: -225%;
    left: -225%;
    height: 500%;
    width: 500%;
    transform: translateZ(20px);
    overflow: visible;
  }
}

.sunImg {
  width: 10px;
}

/* home module stuff - cant get other to work */

.banner {
  height: 2.5rem;
  width: 100%;
  background-color: #69cd3c;
  position: absolute;
  top: 0;
  z-index: 336;
  /* border-top: 1px solid black; */
  border-bottom: 1px solid black;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.5rem;
  font-weight: 600;
  color: rgb(9, 15, 15);
  user-select: none;
  /* flex-wrap: wrap; */
}

.banner p {
  font-weight: 500;
  margin: 0;
}

@media screen and (max-width: 768px) {
  .banner {
    height: fit-content;
    flex-wrap: wrap;
  }
}

.banner span {
  font-size: 1.7rem;
  font-weight: 700;
  color: black;
  user-select: none;
}

.homeWrapper {
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
}

/* backgrounds from www.svgbackgrounds.com */

.mainBackground {
  background: url(/images/liquid_blue.svg);
  background-size: cover;
  opacity: 0.25;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  position: absolute;
  z-index: -1;
  content: '';
}

.innerHomeTop {
  flex: 2;
  display: flex;
}

.innerHomeTopLeft {
  flex: 1;
  display: flex;
  flex-direction: column;
}

.innerHomeTopRight {
  flex: 1;
}

.innerHomeTopRight object {
  opacity: 1;
  width: 40rem;
  position: absolute;
}

.innerHomeTopRight p {
  font-size: 2rem;
  color: white;
  position: relative;
  z-index: 2;
  right: 12rem;
  text-align: center;
  width: 150%;
  top: 2.5rem;
}

.innerHomeBottom {
  flex: 1;
}

.innerHomeBottom img {
  position: absolute;
  width: 100%;
}

.innerHomeBottom svg {
  position: absolute;
  /* height: 80%; */
  bottom: 0;
  opacity: 0.25;
}

.mainContent {
  display: flex;
  width: 100%;
  height: 100vh;
  overflow: hidden;
}

.shapeContainer {
  position: absolute;
  top: 7rem;
  right: 5rem;
  z-index: -1;
  overflow: visible;
}

@media screen and (max-width: 768px) {
  .shapeContainer {
    top: 12rem;
  }
}

.solarShapeBG {
  width: 25rem;
  height: 25rem;
  background-color: rgba(0, 45, 133, 0.5);
  /* border: 5px solid rgba(255, 255, 255, 0.8); */
  overflow: visible;
  position: absolute;
  top: 3rem;
  left: 3rem;
}

.solarShape {
  width: 25rem;
  height: 25rem;
  background-color: #002d85;
  /* border: 5px solid rgba(255, 255, 255, 0.8); */
  overflow: visible;
  /* box-shadow: 50px 50px rgba(0, 0, 255, 0.1); */
  transform-style: preserve-3d;
  transition: transform 3s;
}

.solarShape h1 {
  text-shadow: 2px 2px #333;
  overflow: visible;
  position: relative;
  left: -6.5rem;
  color: white;
  top: 2.5rem;
  font-weight: 800;
}

.innerHomeTopRightContent {
  transform-style: preserve-3d;
  display: flex;
  justify-content: flex-end;
  align-items: flex-start;
  position: relative;
  top: 6rem;
  right: 9rem;
}

.solarHeadingPop {
  position: relative;
  transform: translateZ(6rem);
  overflow: visible;
}

.solarHeadingPop h1 {
  position: relative;
  left: -6.5rem;
  color: #bd9f45;
  top: 2.5rem;
  font-weight: 800;
  user-select: none;
  display: ruby;
  text-shadow: 2px 2px #000;
  text-transform: uppercase;
  white-space: nowrap;
}

.solarInfoPop {
  position: relative;
  transform: translateZ(3rem);
}

.solarInfoPop p {
  font-size: 2rem;
  color: #69cd3c;
  position: relative;
  z-index: 2;
  right: 12rem;
  text-align: center;
  width: 150%;
  top: 2.5rem;
  user-select: none;
  text-shadow: 2px 2px #000;
}

.solarInfoTel {
  position: relative;
  transform: translateZ(3rem);
}

.solarInfoTel p {
  font-size: 2rem;
  color: #69cd3c;
  position: relative;
  z-index: 2;
  right: -5rem;
  text-align: center;
  top: 2rem;
  user-select: none;
  font-weight: 900;
  text-shadow: 2px 2px #000;
}

@media screen and (max-width: 900px) {
  .solarShape {
    width: 20rem;
    height: 20rem;
  }
  .solarShapeBG {
    width: 20rem;
    height: 20rem;
  }
  .solarShape h1, .solarInfoTel p, .solarInfoPop p {
    font-size: 80%;
  }
}

.modalBackground {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  display: grid;
  justify-content: center;
  align-items: center;
  z-index: 337;
  cursor: zoom-out;
  perspective: 1000px;
}

.modal {
  width: 70%;
  height: 70%;
  border-radius: 20px;
  background: #69cd3c;
  position: absolute;
  z-index: 338;
  text-align: center;
  cursor: default;
  justify-self: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border: 2px solid black;
}

.modal h2 {
  display: inline-block;
  font-size: 2.5rem;
  user-select: none;
  font-weight: 600;
  color: black;
}

@media screen and (max-width: 768px) {
  .modal {
    width: 90%;
  }
  .modal h2 {
    font-size: 2rem;
  }
}

/* products */

.productWrapper {
  width: 100%;
  height: 100vh;
}

.productsSvg {
  padding: 6rem;
  height: 100vh;
  opacity: 1;
  background-color: transparent;
}

.productBG {
  display: grid;
  height: 100vh;
  grid-template-columns: 0.5fr 1fr;
  overflow: auto;
  scrollbar-width: none;
}

@media screen and (max-width: 900px) {
  .productBG {
    grid-template-columns: 0fr 1fr;
  }
}

.productRight {
  display: grid;
  grid-template-columns: repeat(auto-fit, 22rem);
  /* column-gap: 2rem; */
  row-gap: 1rem;
  justify-content: center;
  margin-top: 5rem;
}

.productCardContainer {
  width: 100%;
  height: 30rem;
  background-color: transparent;
  /* border: 2px solid black; */
  align-self: center;
  display: flex;
  justify-content: center;
  align-items: center;
  perspective: 1000px;
}

.productCard {
  width: 87.8%;
  height: 85.8%;
  box-shadow: -10px -10px rgba(255, 255, 255, 0.3), 10px 10px rgba(0, 0, 0, 0.2);
  transform-style: preserve-3d;
  /* border-radius: 30px; */
  background: linear-gradient(145deg, #004ca4, #005ac3);
  box-shadow: 12px 12px 24px #003c83, -6px -6px 18px #006ce9;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  border: 2px solid black;
}

.productCard::after {
  background-image: url(/images/products/solar_panel_bg.svg);
  background-repeat: repeat;
  background-size: 3.18rem;
  opacity: 1;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  position: absolute;
  z-index: -1;
  transform-style: preserve-3d;
  content: '';
}

.productCard button {
  margin-top: 1rem;
  width: 108%;
  height: 2.5rem;
  border: 2px solid black;
  font-size: 1.5rem;
  font-weight: 900;
  background-color: #69cd3c;
  transform: translateZ(20px);
  cursor: pointer;
}

.productCard h3 {
  font-size: 1.5rem;
  /* text-align: center; */
  transform: translateZ(30px);
  color: white;
  /* margin: 1rem 1.2rem 1rem 1.2rem; */
  /* text-shadow: 2.5px 2.5px 0.5px rgba(0, 0, 0, 0.5); */
  user-select: none;
  /* position: absolute; */
  top: -2.3rem;
  left: -2rem;
  /* -webkit-text-stroke: 0.2px black; */
  margin: 0.5rem;
  text-align: center;
  text-transform: uppercase;
}

.productCard p {
  font-size: 0.9rem;
  margin: 0.5rem;
  color: white;
  font-weight: 600;
}

.productImages {
  transform: translateZ(30px);
  top: 0;
  /* position: absolute; */
  display: flex;
  justify-content: center;
  align-items: center;
  /* padding-bottom: 6rem; */
  flex: 1;
  width: 100%;
}

.productImages img {
  width: 100%;
  height: auto;
}

.productInnerImages {
  width: 100%;
  border-top: 1px solid black;
  border-bottom: 1px solid black;
}

.lowerImage {
  flex: 0.5;
}

.productCircle {
  height: 80%;
  width: 108%;
  background: linear-gradient(145deg, #004ca4, #005ac3);
  /* position: absolute; */
  top: 0;
  left: 0;
  border: 2.5px solid black;
  transform: translateZ(20px);
  border-radius: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  cursor: pointer;
  overflow: hidden;
}

.modelBackside {
  width: 100%;
  height: 100%;
  background: linear-gradient(145deg, #004ca4, #005ac3);
  position: absolute;
  transform: rotateY(.5turn);
  backface-visibility: hidden;
  border-radius: 10px;
}

.modalProducts {
  width: 30%;
  height: 80%;
  background-color: #0057bc;
  position: absolute;
  z-index: 338;
  text-align: center;
  cursor: default;
  justify-self: center;
  border: 2px solid black;
  display: flex;
  flex-direction: column;
  /* justify-content: center; */
  align-items: center;
  /* overflow: hidden; */
  transform-style: preserve-3d;
  /* transform: rotateY(75deg); */
  border-radius: 10px;
}

.modalProdWrapper {
  transform: translateZ(30px);
  backface-visibility: hidden;
}

@media screen and (max-width: 700px) {
  .modalProducts {
    width: 90%;
    height: 90%;
  }
}

@media screen and (max-width: 1200px) {
  .modalProducts {
    width: 80%;
    height: 80%;
  }
}

.modalProducts img {
  /* width: 10px; */
}

.modalProducts h2 {
  display: inline-block;
  font-size: 2.5rem;
  user-select: none;
  color: white;
  margin: 0;
  position: relative;
  z-index: 100;
}

.modalImages {
  /* background-color: blueviolet; */
  grid-area: mainImage;
  width: 100%;
  border: 3px solid black;
  display: flex;
}

.modalImages img {
  width: inherit;
  height: auto;
}

.modalDesc {
  grid-area: info;
  font-size: 1rem;
  color: white;
}

.modalDesc p {
  margin: 0;
  padding: 0;
  text-align: start;
  font-size: 1rem;
  font-weight: 600;
}

.upperInfo {
  /* height: 100vh; */
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 0.1fr 0.5fr 0.3fr 0.3fr;
  grid-gap: 1rem;
  margin: 1rem;
  grid-template-areas: 'title title title' 'mainImage mainImage mainImage' 'image1 image2 image3' 'info info info';
}

.fabFlip {
  position: absolute;
  top: 0;
  right: 0;
  width: 30px;
  height: 30px;
  background-color: orange;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  user-select: none;
  border: 1px solid black;
}

.fabFlip p {
  font-size: 1rem;
  font-weight: 700;
  text-align: center;
}

.fabFlipButton {
  position: absolute;
  right: -22px;
  top: calc(50% - 60px);
  width: 35px;
  height: 120px;
  background-color: #69cd3c;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  user-select: none;
  border: 3px solid black;
}

.exitButton svg {
  width: 50%;
  height: 50%;
}

.arrowRight {
  align-self: center;
  display: flex;
  justify-content: center;
  align-items: center;
}

.arrowRight svg {
  width: 100%;
  height: 100%;
}

.modalTitle {
  grid-area: title;
  text-transform: uppercase;
}

.modalTitle h2 {
  font-size: 1.5rem;
}

.upperImage {
  border: 2px solid black;
}

.image1 {
  background-color: white;
  grid-area: image1;
  border: 3px solid black;
  display: flex;
}

.image1 img {
  width: auto;
  height: auto;
}

.image2 {
  background-color: white;
  grid-area: image2;
  display: flex;
  border: 3px solid black;
}

.image2 img {
  width: auto;
  height: auto;
}

.image3 {
  background-color: white;
  grid-area: image3;
  display: flex;
  border: 3px solid black;
}

.image3 img {
  width: auto;
  height: auto;
}

.lowerInfo {
  flex: 2;
  display: flex;
  justify-content: center;
}

.inputs {
  /* width: 100%;
  height: auto; */
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  grid-area: inputs;
  margin: 20px;
}

/* .inputs input {
  width: 100%;
  padding: 0.5rem;
  height: 3rem;
  font-size: 1rem;
  background-color: aliceblue;
  border: none;
}

.inputs input:focus + .labelName::after {
  border: 5px solid black;
  transform: translateX(0%);
  transition: transform 0.3s ease;

}

.inputs textarea {
  width: 100%;
  padding: 0.5rem;
  height: 6rem;
  font-size: 1rem;
  margin: 0.1rem 1rem 1rem 1rem;
  background-color: aliceblue;
}

.inputs textarea:focus{
  border: 2px solid black;
  background-color: white;
} */

.labelName {
  position: relative;
  width: 100%;
  margin: 1.7rem;
}

.labelName .placeholder {
  position: absolute;
  left: 0;
  top: calc(50% - 1rem);
  transition: 0.3s ease;
  font-size: 1rem;
  font-weight: 600;
  transform: translateY(-130%);
  color: whitesmoke;
}

.labelName input {
  width: 100%;
  padding: 0.5rem;
  height: 100%;
  font-size: 1rem;
  background-color: aliceblue;
  border: 1px solid black;
  outline: none;
}

.labelName input:focus {
  border: 2px solid black;
  background-color: white;
}

.labelName input:valid+.placeholder, .labelName input:focus+.placeholder {
  /* font-size: 1.1rem; */
  /* left: 3px; */
  scale: 1.1;
  transform-origin: left;
  color: white;
}

.labelName textarea {
  width: 100%;
  padding: 0.5rem;
  height: 100%;
  font-size: 1rem;
  background-color: aliceblue;
  border: 1px solid black;
  outline: none;
}

.labelName textarea:focus {
  border: 2px solid black;
  background-color: white;
}

.labelName textarea+.placeholder {
  transform: translateY(-200%);
}

.labelName textarea:valid+.placeholder, .labelName textarea:focus+.placeholder {
  /* font-size: 1.1rem; */
  /* left: 3px; */
  transform: translateY(-200%);
  scale: 1.1;
  transform-origin: left;
  color: white;
}

.inputWrapper {
  margin: 0.3rem 1rem 1rem 1rem;
  width: 100%;
  overflow: hidden;
}

.inputWrapper label {
  display: block;
  position: relative;
  width: 100%;
  height: 100%;
}

.inputWrapper label::after {
  display: block;
  position: relative;
  content: '';
  left: 0;
  bottom: 0;
  width: 99.3%;
  height: 100%;
  border-bottom: 5px solid black;
  transform: translateX(-100%);
  transition: transform 0.3s ease;
}

.inputs button {
  width: 100%;
  padding: 0.5rem;
  height: 100%;
  font-size: 1rem;
  margin: 0.5rem;
  color: black;
  font-size: 1.5rem;
  font-weight: 900;
  border: none;
  background-color: #69cd3c;
  cursor: pointer;
}

.inputs p {
  width: 100%;
  text-align: left;
  margin: 10px;
  color: white;
  font-weight: 900;
  font-size: 2.5rem;
}

.inputs span {
  width: 100%;
  text-align: left;
  margin: 0;
  color: #69cd3c;
  font-weight: 900;
  font-size: 2.5rem;
}

.inputs p:active {
  font-weight: 700;
}

/* menu button */



@media screen and (max-width: 768px) {
  .menuButtonWrapper button {
    position: absolute;
    border-radius: 50%;
    width: 7rem;
    height: 7rem;
    bottom: 7rem;
    right: 5rem;
    background-color: #69cd3c;
    cursor: pointer;
    z-index: 9999;
    border: 2px solid black;
    display: inherit;
  }
  .menuButtonWrapper img {
    width: 100%;
    height: 100%;
  }
  .ggMotion {
    box-sizing: border-box;
    position: relative;
    display: flex;
    justify-content: center;
    width: 18px;
    height: 14px;
    transform: scale(2);
    margin: auto;
    transition: ease 0.3s;
  }
  .ggMotion::before {
    content: "";
    position: absolute;
    box-sizing: border-box;
    display: flex;
    justify-content: center;
    width: 10px;
    height: 2px;
    bottom: 0;
    left: 4px;
    box-shadow: 0px -6px 0, 0px -12px 0;
    border-radius: 4px;
    background: currentColor;
    transition: ease 0.3s;
  }
  .ggMotionClicked {
    box-sizing: border-box;
    position: relative;
    display: flex;
    justify-content: center;
    width: 18px;
    height: 14px;
    transform: scale(2);
    margin: auto;
    transition: ease 0.3s;
  }
  .ggMotionClicked::before {
    content: "";
    position: absolute;
    box-sizing: border-box;
    display: flex;
    justify-content: center;
    width: 10px;
    height: 2px;
    bottom: 0;
    left: 0;
    box-shadow: 4px -6px 0, 8px -12px 0;
    border-radius: 4px;
    background: currentColor;
    transition: ease 0.3s;
  }
  .menuButtonHome {
    position: absolute;
    border-radius: 50%;
    width: 6rem;
    height: 6rem;
    bottom: 18.5rem;
    right: 7.5rem;
    background-color: #69cd3c;
    cursor: pointer;
    z-index: 9998;
    border: none;
  }
  .menuButtonHome button {
    width: 100%;
    height: 100%;
    border-radius: 50%;
    border: 2px solid black;
    cursor: pointer;
    background-color: #69cd3c;
  }
  .menuButtonHome img {
    width: 100%;
    height: 100%;
  }
  .menuButtonProducts {
    position: absolute;
    border-radius: 50%;
    width: 6rem;
    height: 6rem;
    bottom: 14rem;
    right: 12.5rem;
    background-color: blanchedalmond;
    cursor: pointer;
    z-index: 9998;
  }
  .menuButtonProducts img {
    width: 100%;
    height: 100%;
  }
  .menuButtonProducts button {
    width: 100%;
    height: 100%;
    border-radius: 50%;
    border: 2px solid black;
    cursor: pointer;
    background-color: #69cd3c;
  }
  .menuButtonGallery {
    position: absolute;
    border-radius: 50%;
    width: 6rem;
    height: 6rem;
    bottom: 7.5rem;
    right: 14.5rem;
    background-color: blanchedalmond;
    cursor: pointer;
    z-index: 9998;
  }
  .menuButtonGallery img {
    width: 100%;
    height: 100%;
  }
  .menuButtonGallery button {
    width: 100%;
    height: 100%;
    border-radius: 50%;
    border: 2px solid black;
    cursor: pointer;
    background-color: #69cd3c;
  }
  .menuButtonContact {
    position: absolute;
    border-radius: 50%;
    width: 6rem;
    height: 6rem;
    bottom: 1rem;
    right: 13.5rem;
    background-color: blanchedalmond;
    cursor: pointer;
    z-index: 9998;
  }
  .menuButtonContact img {
    width: 100%;
    height: 100%;
  }
  .menuButtonContact button {
    width: 100%;
    height: 100%;
    border-radius: 50%;
    border: 2px solid black;
    cursor: pointer;
    background-color: #69cd3c;
  }
}

/* loading spinner */

.ldsRing {
  display: inline-block;
  width: 80px;
  height: 80px;
  border: 2px solid white;
  border-radius: 50%;
}

.ldsRing:after {
  content: "";
  display: block;
  width: 64px;
  height: 64px;
  margin: 0px;
  border-radius: 50%;
  border: 6px solid #dbc734;
  border-color: #dbc734 transparent #dbc734 transparent;
  animation: ldsRing 0.6s linear infinite;
}

@keyframes ldsRing {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

/* silly fancy pants idea */

/* .productCardBorder {
width: 85%;
height: 85%;
transform-style: preserve-3d;
background: transparent;
border: 10px solid black;
transform: rotateX(39deg) rotateY(19deg);
position: absolute;
margin-left: 1rem;
}

.productCard {
width: 85%;
height: 85%;
transform-style: preserve-3d;
background: linear-gradient(145deg, rgba(0,76,164,0.9), #2b0152);
transform: rotateX(-59deg) rotateY(-0deg) rotateZ(-20deg) translateZ(100px);

} */