

.siteWrapper {
  /* display: flex; */
  justify-content: center;
  height: 100vh;
  width: 100%;
  background: transparent;
  padding: 0;
  margin: 0;
  position: absolute;
  z-index: 1;
  top: 0;
  left: 0;
}

.siteWrapper2 {
  display: flex;
  justify-content: center;
  height: 100vh;
  width: 100%;
  background: #fff;
  padding: 0;
  margin: 0;
}


.turbineWrapper {
  width: 70%;
  position: absolute;
  bottom: 0;
  left: 4rem;
  /* height: 100%; */
}

.waveSquareWrapper {
  /* height: 30%; */
  width: 100vh;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  transform: rotateZ(-90deg);
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
  z-index: -2;
  opacity: 0.1;
  overflow: hidden;
}

.waveSquareWrapper object {
  height: 30rem;
  width: 150%;
}

.waveSquareWrapperLeft {
  /* height: 30%; */
  width: 100vh;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  transform: rotateZ(90deg);
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
  z-index: -2;
  opacity: 0.1;
  overflow: hidden;
}

.waveSquareWrapperLeft object {
  height: 30rem;
  width: 150%;
}



.modalBackground {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  display: grid;
  justify-content: center;
  align-items: center;
  z-index: 337;
  cursor: zoom-out;
}

.modal {
  width: 70%;
  height: 70%;
  border-radius: 20px;
  background-color: #69cd3c;
  position: absolute;
  z-index: 338;
  text-align: center;
  cursor: default;
  justify-self: center;
}

.modal h2 {
  display: inline-block;
  font-size: 2.5rem;
  user-select: none;
}

.lowerMain {
  width: 100%;
  height: 100%;
  background-color: transparent;
  /* position: absolute;
  bottom: -60rem; */
}

.sideMenuWrapper {
  display: flex;
  justify-content: flex-start;
  flex-direction: column;
  width: 20%;
  height: 100vh;
  position: fixed;
  z-index: 333;
}

.navClick {
  cursor: pointer;
}

.sideMenuEffect {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  overflow-x: visible;
  padding: 6rem 0 6rem 3rem;
  width: 1vw;
  position: fixed;
  z-index: 335;
}

.sideMenuEffect svg {
  position: fixed;
  top: 6.3rem;
  height: 22rem;
}

.sideMenuItems {
  height: 100vh;
  display: flex;
  flex-direction: column;
  overflow-x: visible;
  padding: 4.5rem 0 6rem 6rem;
  width: 20vw;
  position: fixed;
  z-index: 334;
  margin-top: 2.5rem;

}

.sideMenuItems a {
  text-align: left;
  font-size: 3.5rem;
  color: white;
  font-weight: 900;
  cursor: pointer;
  text-decoration: none;
  width: max-content;
  user-select: none;
}

.sideMenuItemWrapper {
  display: flex;
  align-items: center;
}

.menuEffect {
  position: absolute;
  margin-top: 0.5rem;
  z-index: 333;
  width: 1rem;
  height: 5rem;
  background-color: transparent;
}

.menuEffectInner {
  text-align: center;
  position: relative;
  width: 100%;
  height: 100%;
  transition: transform 2s;
  transform-style: preserve-3d;
}

.menuEffectFront, .menuEffectBack {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  backface-visibility: hidden;
  transform-style: preserve-3d;
}

.menuEffectFront {
  width: 100%;
  height: 100%;
  background: transparent;
  /* transform: rotateY(.5turn); */
  transform: translateZ(10px);
  /* box-shadow: 5px 10px #888888; */
}

.menuEffectBack {
  /* transform: rotateY(.5turn);   */
  background: transparent;
}

.menuSquares {
  height: 1rem;
  width: 1rem;
  border: whitesmoke solid 1px;
  background: rgba(0, 0, 255, 0.5);
}

.menuWrapper {
  position: absolute;
  display: flex;
  justify-content: center;
  z-index: 399;
  width: 100%;
  height: 3.9rem;
  background-color: rgba(0, 0, 0, 0.39);
}

.menuItems {
  /* position: absolute; */
  /* top: 1.3rem; */
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  /* width: 100%; */
  white-space: nowrap;
  flex: 2;
}

.menuItems a {
  color: white;
  font-weight: bold;
  font-size: 1.9rem;
}

.ecoImage {
  /* position: absolute; */
  /* top: 0; */
  /* left: 60px; */
  /* z-index: 39; */
  font-weight: bold;
  font-size: 2rem;
  /* height: 10vh; */
  display: flex;
  justify-content: center;
  align-items: center;
  flex: 1;
  white-space: nowrap;
}

.contactModalPlaceholder {
  width: 10%;
  height: 10%;
  background-color: white;
  position: absolute;
  z-index: 1337;
}

.emailText {
  font-size: 2rem;
  letter-spacing: 5px;
  font-weight: bold;
  display: inline-block;
}

.contactbg {
  display: flex;
  /* background-image: url(../public/images/undraw_contact_us_15o2.svg); */
  background: transparent;
  width: 100%;
  height: 100vh;
  justify-content: flex-end;
}

.contactbg object {
  width: 75%;
}

.contactbg svg {
  width: 75%;
}

.contactInnerLeft {
  flex: 1;
}

.contactInnerRight {
  flex: 3;
}

.contactInnerRight object {
  width: 100%;
  height: 100%;
}


@namespace svg url(http://www.w3.org/2000/svg);
/* Necessary to select only SVG <a> elements, and not also HTML’s.
   See warning below */

.contactInnerRight svg a:link, .contactInnerRight svg a:visited {
  cursor: pointer;
}

.contactInnerRight svg a text, .contactInnerRight text svg a {
  fill: yellow;
  /* Even for text, SVG uses fill over color */
  text-decoration: underline;
  cursor: pointer;
}

.phone {
  display: flex;
  justify-content: center;
  align-items: center;
  flex: 1;
  white-space: nowrap;
}

.phone p {
  font-weight: 600;
  color: white;
  font-size: 1.3rem;
}


.borderCircle {
  border-radius: 90px;
}

.colorInherit {
  color: inherit;
}

.padding1px {
  padding-top: 1px;
}

.sticky {
  position: fixed;
  z-index: 100;
  /* margin-top: -32px; */
  top: 50%;
}

.allWrapper{
  height: 100vh;
  width: 100%;
}

.sunBG {
	/* position: fixed;
	top: 0;
	left: 0; */
	width: 100%;
  height: 100vh;
  overflow: hidden;
  opacity: 0.89;
  /* filter: blur(10px); */
  transform-style: preserve-3d;
}

.theSun {
	/* position: absolute;
	top: -30%;
	left: 20%; */
	height: 100%;
  width: 100%;
  opacity: 1;
}

.theSun img{
  position: absolute;
  top: -20%;
  right: 10%;
  height: 100%;
  transform: translateZ(30px);

}

.sunRays {
	/* position: absolute;
	top: -160%; */
  height: 100%;
  width: 100%;

}

.sunRays svg{
  position: absolute;
  top: -220%;
  left: -185%;
  height: 500%;
  width: 500%;
  transform: translateZ(20px);
  overflow: visible;

}

.sunImg{
  width: 10px;
}


